body {
	font-family: "calibri";
}
h1 {
	color: blue;
	font-weight: bold;
	background-color: yellow;
}
div {
	border: 1px solid red;
	margin: 5px;
}

#first p {
	font-size: 2em;
}
}
img {
	display: block;
}